<section id="home">

<nav class="neo-nav">
  <ul class="nav">
    <li class="nav-links"><a href="#" class="link">Home</a></li>
    <li class="nav-links"><a href="#" class="link">Work</a></li>
    <li class="nav-links"><a href="#" class="link">About</a></li>
    <li class="nav-links"><a href="#" class="link">Contact</a></li>
  </ul>
</nav>
<div class="text-overlay">
<p class="brand">Ravikant Mishra</p>
<p class="description">
  <span class="designation">Specialist Programmer at Infosys.</span>


<span>Building reliable and scalable systems by day. Leveraging technology to launch fully featured products by night.</span>
</p>
</div>
<div class="overlay"></div>
</section>
